<%= link_to 'create test entry', new_test_path %></br></br>
<%= link_to 'create sample entry', samples_path %></br></br>
<%= link_to 'login', new_user_path %></br></br>

<h2>Tests Are:</h2>
<div>
  <table>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Created At</th>
    </tr>
    <%unless @tests.blank? %>
        <% @tests.each do |test| %>
            <tr>
              <td><%= test.id %></td>
              <td><%= test.name %></td>
              <td style="padding-left: 30px"><%= test.created_at %></td>
            </tr>
        <% end %>
    <% end %>
  </table>
</div>

<hr>

<h2>Samples Are:</h2>
<div>
  <table>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Created At</th>
    </tr>
    <%unless @samples.blank? %>
        <% @samples.each do |sample| %>
            <tr>
              <td><%= sample.id %></td>
              <td><%= sample.sample_name %></td>
              <td style="padding-left: 30px"><%= sample.created_at %></td>
              <td style="padding-left: 30px"><%= link_to 'delete', sample_path(sample), method: :delete, data: {confirm: 'Are u sure'} %></td>
            </tr>
        <% end %>
    <% end %>
  </table>
</div>